{% extends "base.html" %}

{% block conteudo %}

<h2 class="mb-4">➕ Novo Cliente</h2>

<div class="card">
    <div class="card-body">

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input
                    type="text"
                    name="nome"
                    class="form-control"
                    required>
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone</label>
                <input
                    type="text"
                    name="telefone"
                    class="form-control"
                    required>
            </div>

            <button type="submit" class="btn btn-success">
                💾 Salvar Cliente
            </button>

            <a href="/" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>
</div>

{% endblock %}